{% extends 'base.html.twig' %}

{% block title %}STC | Gedoc{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
<link rel="stylesheet" href="{{asset('css/jquery-confirm/jquery-confirm.css')}}" />
<link rel="stylesheet" href="{{asset('css/jquery.dropdown.min.css')}}">
{% endblock %}

{% block body %}
<div class="row">

    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Liste des mots clés enregitrés</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">        
                    <button type="button" class="btn btn-info pull-left" onclick="javascript:newMc();">
                    <span class="glyphicon glyphicon-upload"></span> Ajouter un mot clé</button>
                </div>
                <div class="col-md-9">
                </div> 
            </div>
            <br/><br/>

            <div class="row">
                <div id="Motcle">Chargement...</div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block jscript %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<!--modal jquery confirm-->
<script type="text/javascript" src="{{asset('js/jquery-confirm/jquery-confirm.js')}}"></script>
<script src="{{asset('js/jquery.dropdown.min.js')}}"></script>
<script>
    $(function() {
        table2 = $('#Motcle').initDataTables({{ datatable_settings(datatable) }} , {
            "pageLength": 10,
            /*doc pour le 'affichage https://datatables.net/examples/basic_init/dom.html */
            dom: '<"top"lf>rt<"bottom"ip><"clear">',
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tous"]],
            "searching": true,
            columnDefs: [
                {width: "80%", targets: 0},
                {width: "20%", targets: 1}
            ],initComplete: function(){
                //
            },//fin inicomplete
            drawCallback: function( settings ) {
                //check ou uncheck des checkbox dans la liste
                
            }//fin drawcallback
        });//fin datatables

    });//fin function
</script>

<script>
/*les fonctions*/
function newMc()
{
    //creation du popup filtre
    popupnewDoc = $.confirm({
        title: "Ajouter une Motcle",
        closeIcon: true,
        type: 'purple',
        columnClass: 'm',
        content: function () {
            var self = this;
            return $.ajax({
                url: "{{ path('ajout_Mcegorie') }}",
                data: {appel : 'global'},
                dataType: 'html',
                type: 'POST'
            }).done(function (response) {
                self.setContent(response);
            }).fail(function(error){
                if(error.status == 440) // redirect to accueil (deconnect
                {
                    //redirectDeconnect();
                } 
                self.close();
            });
        },
        buttons: {
            Appliquer: {
                text: "Enregistrer",
                btnClass: 'btn-blue',
                action: function () {
                    saveMc();
                    this.close();
                }
            },
            fermer: {
                text: "Fermer",
                btnClass: 'btn-blue',
                action: function () {
                    this.close();
                }
            }
        }//fin button
    });//fin confirm

}//fin newdoc

function saveMc()
{
    var newMc=$('#Mcegorie').val();
    $.ajax({
        type: 'POST',
        url: '{{ path('save_Mc') }}',
        dataType: 'html',
        data: { Mc : newMc },
        dataType: 'json',
        success: function (response) {
            $.alert({
                title: response.msg,
                type : response.type,
                content: '',
            });
            table2.then(function(dt) {
                // dt contains the initialized instance of DataTables
                dt.ajax.reload();
            });
        }//fin success
    });//fin ajax
}//fin saveMc

//
function editMc(idMc)
{
    //creation du popup filtre
    popupeditMc = $.confirm({
        title: "Détails de la Motcle",
        closeIcon: true,
        type: 'purple',
        columnClass: 'l',
        content: function () {
            var self = this;
            return $.ajax({
                url: "{{ path('edit_Mc') }}",
                data: {id : idMc},
                dataType: 'html',
                type: 'POST'
            }).done(function (response) {
                self.setContent(response);
            }).fail(function(error){
                if(error.status == 440) // redirect to accueil (deconnect
                {
                    //redirectDeconnect();
                } 
                self.close();
            });
        },
        buttons: {
            Appliquer: {
                text: "Mettre à jour",
                btnClass: 'btn-blue',
                action: function () {
                    saveeditMc();
                    this.close();
                }
            },
            fermer: {
                text: "Fermer",
                btnClass: 'btn-blue',
                action: function () {
                    this.close();
                }
            }
        }//fin button
    });//fin confirm

}//fin newdoc

function saveeditMc()
{
    var idMc=$('#id_Mc').val();
    var newMcs = $('#Mcegorie').val();
    $.ajax({
        type: 'POST',
        url: '{{ path('save_edit_Mc') }}',
        dataType: 'html',
        data: { id : idMc, new : newMcs },
        dataType: 'json',
        success: function (response) {
            $.alert({
                title: response.msg,
                type : response.type,
                content: '',
            });
            table2.then(function(dt) {
                // dt contains the initialized instance of DataTables
                dt.ajax.reload();
            });
        }//fin success
    });//fin ajax
}//fin savedoc

function deleteMc(idMc,titre)
{
    //creation du popup filtre
    popupdeleteMc = $.confirm({
        title: "Suppression de la Motcle",
        closeIcon: true,
        type: 'red',
        columnClass: 'm',
        content: "Etes-vous sûr de vouloir supprimer la Motcle : <b>\""+titre+"\"</b> ? "
        + "<br/> Certains documents pourraient ne plus avoir de Motcle."
        + "<br/> <b>Attention</b> cette action est irréversible",
        buttons: {
            Appliquer: {
                text: "Oui, je suis sûr",
                btnClass: 'btn-blue',
                action: function () {
                    savedeleteMc(idMc);
                    this.close();
                }
            },
            fermer: {
                text: "Abandonner",
                btnClass: 'btn-blue',
                action: function () {
                    this.close();
                }
            }
        }//fin button
    });//fin confirm
}//fin delete doc

function savedeleteMc(idMc)
{
    $.ajax({
        type: 'POST',
        url: '{{ path('save_delete_Mc') }}',
        data: { ident : idMc },
        dataType: 'json',
        success: function (response) {
            $.alert({
                title: response.msg,
                type : response.type,
                content: '',
            });
            table2.then(function(dt) {
                // dt contains the initialized instance of DataTables
                dt.ajax.reload();
            });
        }//fin success
    });//fin ajax
}//fin savedeletedMc

</script>
{% endblock %}

