{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div class="row">    
    <div class="col-md-2">
        <a href="{{ path('users_index') }}"><button class="btn btn-warning" type="button">Retour</button></a>
    </div>
</div> <br/>
<div class="row">    
    <div class="col-md-8">
        <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Collaborateur</div>			
                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                    <!--<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                    -->
                </div>
            </div><!--fin title-->

            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <th>Prenom</th>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table> 

                <a href="{{ path('users_edit', {'usersId': user.usersId}) }}">edit</a>

                {{ include('users/_delete_form.html.twig') }}               

            </div><!--fin panel body-->    

        </div>
        </div>    
    </div><!--end div-->
</div><!--end div row-->

    
{% endblock %}
